<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <pre> {{ orderForm.value | json }} </pre>

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <div class="lead">Seus Dados:</div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> E-mails não conferem.</span>
        </div>

        <div class="col-sm-6 col-xs-12">
          <app-input  errorMessege="Esse campo deve ter no mínimo 5 caractéres.">
            <input class="form-control" type="text" formControlName="name" placeholder="Nome completo" autocomplete="off">
          </app-input>
        </div>

        <div class="col-sm-2 col-xs-6">
          <app-input errorMessege="E-mail inválido." label="E-mail">
            <input class="form-control" type="text" formControlName="email" placeholder="E-mail" autocomplete="off">
          </app-input>
        </div>

        <div class="col-sm-4 col-xs-6">
          <app-input errorMessege="E-mail inválido." label="Confirmações de E-mail">
            <input type="text" class="form-control" formControlName="emailConfirmation" placeholder="Confirmações do E-mail" autocomplete="off">
          </app-input>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <app-input label="Endereço" errorMessege="Esse campo deve ter no mínimo 5 caractéres.">
            <input type="text" class="form-control" formControlName="address" placeholder="Adicione o endereço" autocomplete="off">
          </app-input>
        </div>
        <div class="col-sm-2 col-xs-6">
          <app-input label="Endereço" errorMessege="Adicioner o número">
            <input type="text" class="form-control" formControlName="number" pattern="^[0-9]*$" placeholder="Número" autocomplete="off">
          </app-input>
        </div>
        <div class="col-sm-4 col-xs-6">
          <app-input>
            <input type="text" class="form-control" formControlName="optionalAddress" ngModel placeholder="Complemento">
          </app-input>
        </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="lead">Itens do Pedido:</p>
          </div>
          <app-order-items [items]="cartItems()"
                           (increaseQty)="increaseQty($event)"
                           (decreaseQty)="decreaseQty($event)"
                           (remove)="remove($event)"></app-order-items>
        </div>

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <p class="lead">Formas de Pagamento:</p>

            <div class="form-group">
              <app-radio [options]="paymentOptions" formControlName="paymentOption"></app-radio>
            </div>

          </div>

          <div class="col-sm-6 col-xs-12">
            <p class="lead">Frete e Total:</p>

            <app-delivery-costs
              [delivery]="delivery"
              [itemsValue]="itemsValue()"></app-delivery-costs>
          </div>

        </div>

    </form>

    <!-- disabled="!form.valid && cardItems().length === 0" -->
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right"
                [disabled]="!orderForm.valid || cartItems().length === 0"
                (click)="checkOrder(orderForm.value)">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>s
