<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <pre>
      {{ form.valid | json }} {{ form.value | json }}
    </pre>


    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <app-input label="Endereço" errorMessege="Esse campo deve ter no mínimo 5 caractéres.">
            <input type="text" class="form-control" name="address" minlength="5" required ngModel placeholder="Adicione o endereço" autocomplete="off">
          </app-input>
        </div>
        <div class="col-sm-2 col-xs-6">
          <app-input label="Endereço" errorMessege="Adicioner o número">
            <input type="text" class="form-control" name="number" pattern="^[0-9]*$" required ngModel placeholder="Número" autocomplete="off">
          </app-input>
        </div>
        <div class="col-sm-4 col-xs-6">
          <app-input>
            <input type="text" class="form-control" name="optional" ngModel placeholder="Complemento">
          </app-input>
        </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="lead">Itens do Pedido:</p>
          </div>
          <app-order-items [items]="cartItems()"
                           (increaseQty)="increaseQty($event)"
                           (decreaseQty)="decreaseQty($event)"
                           (remove)="remove($event)"></app-order-items>
        </div>

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <p class="lead">Formas de Pagamento:</p>

            <div class="form-group">
              <app-radio [options]="paymentOptions" name="paymentOption" ngModel></app-radio>
            </div>

          </div>

          <div class="col-sm-6 col-xs-12">
            <p class="lead">Frete e Total:</p>

            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th style="width:50%">Itens:</th>
                    <td class="text-right">R$ 20,00</td>
                  </tr>
                  <tr>
                    <th>Frete:</th>
                    <td class="text-right">R$ 8,00</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td class="text-right">R$ 28,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <a href="order-summary.html" disabled="!form.valid" class="btn btn-success pull-right">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </a>
      </div>
    </div>

  </section>
</section>
